.container {
  width: 80%;
  margin: 0 auto;
}

.sort {
  margin: 20px 0;

  > span {
    margin-right: 10px;
  }
}

.lists {
  display: flex;
  justify-content: space-between;

  flex: 1;
  > * {
    width: 30%;
  }
}
